name: Promote test -> prod

on:
  push:
    branches: [main]
    paths:
      - "values/adrian-java-app/**"
  workflow_dispatch:

jobs:
  promote:
    uses: Adrian-CICD-Project/ci-cd-templates/.github/workflows/promote-environment.yml@main
    with:
      app-name: adrian-java-app
      source-env: test
      target-env: prod
      target-repo: Adrian-CICD-Project/infrastructure-env-prod
      acr-repo: acrfordevopspoc01adrian.azurecr.io/adrian-java-app
    secrets: inherit
